In [2]:
from pathlib import Path
import pandas as pd
# import yfinance as yf
import numpy as np
import sklearn as sk
import hvplot.pandas
from watermark import watermark
%matplotlib inline
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_rows', 2000)

In [5]:
#System Requirements

print(watermark())
print(watermark(iversions=True, globals_=globals()))

Last updated: 2022-12-08T20:31:47.578855-05:00

Python implementation: CPython
Python version       : 3.7.13
IPython version      : 7.31.1

Compiler    : Clang 12.0.0
OS          : Darwin
Release     : 21.6.0
Machine     : x86_64
Processor   : i386
CPU cores   : 8
Architecture: 64bit

numpy  : 1.21.5
hvplot : 0.8.0
sklearn: 0.0.post1
pandas : 1.3.5

In [3]:
# Read data from the Kaggle database file into a Pandas DataFrame
df = pd.read_csv(
    Path("../../LG_Resources/Resources/lending-club/accepted_2007_to_2018Q4.csv.gz"),  
    infer_datetime_format=True,
    compression='gzip', 
    low_memory=False
)

FileNotFoundError: [Errno 2] No such file or directory: '..\\..\\LG_Resources\\Resources\\lending-club\\accepted_2007_to_2018Q4.csv.gz'

In [136]:
# Review the DataFrame
display(df.shape)
df.head()

(2260701, 151)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
# column_names = df.columns.tolist()
# df['loan_amnt'].hvplot.bar(x = df['loan_amnt'].value_counts(), y=df['loan_amnt'])

In [138]:
nan_values = pd.DataFrame(df.isna().sum(),columns = ["NAN Count"]).reset_index()
nan_values.sort_values(nan_values.columns[1], ascending=False)

                                          index  NAN Count
1                                     member_id    2260701
140  orig_projected_additional_accrued_interest    2252050
135                           hardship_end_date    2249784
134                         hardship_start_date    2249784
129                               hardship_type    2249784
130                             hardship_reason    2249784
131                             hardship_status    2249784
132                               deferral_term    2249784
142                hardship_last_payment_amount    2249784
141              hardship_payoff_balance_amount    2249784
139                        hardship_loan_status    2249784
138                                hardship_dpd    2249784
137                             hardship_length    2249784
136                     payment_plan_start_date    2249784
133                             hardship_amount    2249784
150                             settlement_term    2226455
145                   debt_settlement_flag_date    2226455
146                           settlement_status    2226455
147                             settlement_date    2226455
148                           settlement_amount    2226455
149                       settlement_percentage    2226455
127         sec_app_mths_since_last_major_derog    2224759
122                          sec_app_revol_util    2154517
115                             revol_bal_joint    2152681
120                            sec_app_mort_acc    2152680
116                      sec_app_fico_range_low    2152680
117                     sec_app_fico_range_high    2152680
118                    sec_app_earliest_cr_line    2152680
119                      sec_app_inq_last_6mths    2152680
121                            sec_app_open_acc    2152680
123                         sec_app_open_act_il    2152680
124                       sec_app_num_rev_accts    2152680
125            sec_app_chargeoff_within_12_mths    2152680
126          sec_app_collections_12_mths_ex_med    2152680
59                    verification_status_joint    2144971
58                                    dti_joint    2139995
57                             annual_inc_joint    2139991
19                                         desc    2134634
31                       mths_since_last_record    1901545
90                     mths_since_recent_bc_dlq    1741000
54                  mths_since_last_major_derog    1679926
92               mths_since_recent_revol_delinq    1520342
49                                 next_pymnt_d    1345343
30                       mths_since_last_delinq    1158535
69                                      il_util    1068883
67                           mths_since_rcnt_il     909957
73                                     all_util     866381
63                                  open_acc_6m     866163
76                                  total_cu_tl     866163
77                                 inq_last_12m     866163
71                                  open_rv_24m     866162
70                                  open_rv_12m     866162
68                                 total_bal_il     866162
66                                  open_il_24m     866162
65                                  open_il_12m     866162
64                                  open_act_il     866162
72                                   max_bal_bc     866162
75                                       inq_fi     866162
91                        mths_since_recent_inq     295468
10                                    emp_title     167002
103                            num_tl_120dpd_2m     153690
11                                   emp_length     146940
84                           mo_sin_old_il_acct     139104
81                                      bc_util      76104
108                            percent_bc_gt_75      75412
80                               bc_open_to_buy      74968
89                         mths_since_recent_bc      73445
107                              pct_tl_nvr_dlq      70464
79                                  avg_cur_bal      70379
85                         mo_sin_old_rev_tl_op      70310
86                        mo_sin_rcnt_rev_tl_op      70310
100                               num_rev_accts      70310
87                               mo_sin_rcnt_tl      70309
104                                num_tl_30dpd      70309
93                        num_accts_ever_120_pd      70309
95                              num_actv_rev_tl      70309
98                                    num_il_tl      70309
99                                num_op_rev_tl      70309
101                         num_rev_tl_bal_gt_0      70309
105                          num_tl_90g_dpd_24m      70309
106                          num_tl_op_past_12m      70309
111                             tot_hi_cred_lim      70309
114                  total_il_high_credit_limit      70309
97                                    num_bc_tl      70309
94                               num_actv_bc_tl      70309
74                             total_rev_hi_lim      70309
61                                 tot_coll_amt      70309
62                                  tot_cur_bal      70309
96                                  num_bc_sats      58623
102                                    num_sats      58623
78                         acc_open_past_24mths      50063
88                                     mort_acc      50063
113                              total_bc_limit      50063
112                           total_bal_ex_mort      50063
21                                        title      23358
47                                 last_pymnt_d       2460
35                                   revol_util       1835
24                                          dti       1744
109                        pub_rec_bankruptcies       1398
82                     chargeoff_within_12_mths        178
53                   collections_12_mths_ex_med        178
110                                   tax_liens        138
50                           last_credit_pull_d        105
29                               inq_last_6mths         63
36                                    total_acc         62
25                                  delinq_2yrs         62
26                             earliest_cr_line         62
32                                     open_acc         62
33                                      pub_rec         62
60                               acc_now_delinq         62
83                                  delinq_amnt         62
13                                   annual_inc         37
22                                     zip_code         34
20                                      purpose         33
15                                      issue_d         33
18                                          url         33
17                                   pymnt_plan         33
9                                     sub_grade         33
3                                   funded_amnt         33
16                                  loan_status         33
2                                     loan_amnt         33
7                                   installment         33
6                                      int_rate         33
144                        debt_settlement_flag         33
14                          verification_status         33
8                                         grade         33
5                                          term         33
143                         disbursement_method         33
12                               home_ownership         33
4                               funded_amnt_inv         33
56                             application_type         33
128                               hardship_flag         33
23                                   addr_state         33
52                          last_fico_range_low         33
51                         last_fico_range_high         33
48                              last_pymnt_amnt         33
46                      collection_recovery_fee         33
45                                   recoveries         33
44                           total_rec_late_fee         33
43                                total_rec_int         33
42                              total_rec_prncp         33
41                              total_pymnt_inv         33
40                                  total_pymnt         33
39                                out_prncp_inv         33
38                                    out_prncp         33
37                          initial_list_status         33
55                                  policy_code         33
34                                    revol_bal         33
28                              fico_range_high         33
27                               fico_range_low         33
0                                            id          0

In [144]:
nan_values[(nan_values['NAN Count'] > 500000)].shape
drop_columns = nan_values[(nan_values['NAN Count'] > 500000)]['index'].tolist()
drop_columns.append('id')
df_1 = df.drop(drop_columns, axis=1)
df_1

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,...,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,N,Cash,N
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,...,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,N,Cash,N
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,...,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,N,Cash,N
3,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,...,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,N,Cash,N
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,...,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,Vice President,9 years,...,50.0,0.0,0.0,55970.0,28398.0,12300.0,42670.0,N,Cash,N
2260697,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,C4,Program Manager,6 years,...,40.0,1.0,0.0,84664.0,62426.0,20700.0,58764.0,N,Cash,Y
2260698,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,Customer Service Technician,10+ years,...,50.0,0.0,0.0,163804.0,44215.0,9500.0,34169.0,N,Cash,N
2260699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN